body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}

a{
    color: aquamarine;
    font-size: 16px;

}

main h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

main p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color:gray;
}

#trademark{
    text-align: right;
}